        {% macro tabla(sistema, partidos) -%}
        <table class="ui large celled table">
          <thead>
            <tr>
              {% if sistema == 'eliminacion' %}
              <th class="center aligned">Ronda</th>
              {% endif %}
              <th class="center aligned">Turno</th>
              <th class="center aligned">Cancha</th>
              <th class="center aligned">Local</th>
              <th class="center aligned">Visitante</th>
            </tr>
          </thead>
          <tbody>
            {% for partido in partidos %}
            <tr>
              {% if sistema == 'eliminacion' %}
              <td class="center aligned">{{ partido.id }}</td>
              {% endif %}
              <td class="center aligned">{{ partido.turno }}</td>
              <td class="center aligned">{{ partido.cancha }}</td>
              <td class="collapsing center aligned">
                <strong>
                {% if sistema == 'eliminacion' and not partido.local is number %}
                  ganador de
                {% endif %}
                  {{ partido.local }}
                </strong>
              </td>
              <td class="collapsing center aligned">
                <strong>
                {% if sistema == 'eliminacion' and not partido.visitante is number %}
                  ganador de
                {% endif %}
                  {{ partido.visitante }}
                </strong>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {%- endmacro %}
