<!doctype html>
<html>
  <head>
    <title>Torneo</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.9.0/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.3/themes/flick/jquery-ui.css">
  </head>
  <body>
    <div class="ui page grid">
      <div class="centered nine wide column">
        <div id="boton-ayuda" class="ui right floated vertical animated button">
          <div class="hidden content">Ayuda</div>
          <div class="visible content"><i class="help circle icon"></i></div>
        </div>
        <h1 class="ui centered header">Men&uacute; principal</h1>
        <!--<a id="boton-ayuda" class="ui float right button">Ayuda</a>-->
        <form class="ui form" method="post">
          <div class="ui two fields{% if form.desde.errors %} error{% endif %}">
            <div class="datepicker input field">
              <label>{{ form.desde.label }}</label>
              <div class="ui icon input">
                {{ form.desde }}<i class="calendar icon"></i>
              </div>
              {% if form.desde.errors %}{% for error in form.desde.errors %}
              <div class="ui red pointing prompt label">{{ error }}</div>
              {% endfor %}{% endif %}
            </div>
            <div class="datepicker input field">
              <label>{{ form.hasta.label }}</label>
              <div class="ui icon input">
                {{ form.hasta }}<i class="calendar icon"></i>
              </div>
              {% if form.hasta.errors %}{% for error in form.hasta.errors %}
              <div class="ui red pointing prompt label">{{ error }}</div>
              {% endfor %}{% endif %}
            </div>
          </div>
          <div class="ui input field{% if form.lugar.errors %} error{% endif %}">
            <label>{{ form.lugar.label }}</label>
            {{ form.lugar }}
            {% if form.lugar.errors %}{% for error in form.lugar.errors %}
            <div class="ui red pointing prompt label">{{ error }}</div>
            {% endfor %}{% endif %}
          </div>
          <div class="ui input field{% if form.equipos.errors %} error{% endif %}">
            <label>{{ form.equipos.label }}</label>
            {{ form.equipos }}
            {% if form.equipos.errors %}{% for error in form.equipos.errors %}
            <div class="ui red pointing prompt label">{{ error }}</div>
            {% endfor %} {% endif %}
          </div>
          <div class="ui input field{% if form.canchas.errors %} error{% endif %}">
            <label>{{ form.canchas.label }}</label>
            {{ form.canchas }}
            {% if form.canchas.errors %}{% for error in form.canchas.errors %}
            <div class="ui red pointing prompt label">{{ error }}</div>
            {% endfor %}{% endif %}
          </div>
          <div class="inline fields{% if form.sistema.errors %} error{% endif %}">
            <label for="{{ form.sistema.id }}">{{ form.sistema.label }}</label>
            {% for subfield in form.sistema %}
            <div class="field">
              <div class="ui radio checkbox">
                {{ subfield }}
                <label>{{ subfield.label }}</label>
              </div>
            </div>
            {% endfor %}
            {% if form.sistema.errors %}{% for error in form.sistema.errors %}
            <div class="ui red pointing prompt label">{{ error }}</div>
            {% endfor %}{% endif %}
          </div>
          <div class="ui input field{% if form.tiempo_partido.errors %} error{% endif %}">
            <label>
              {{ form.tiempo_partido.label }}
            </label>
            {{ form.tiempo_partido(class="ui dropdown") }}
            {% if form.tiempo_partido.errors %}{% for error in form.tiempo_partido.errors %}
            <div class="ui red pointing prompt label">{{ error }}</div>
            {% endfor %}{% endif %}
          </div>
          <button type="submit" class="fluid huge ui primary submit button">
            <i class="columns icon"></i>
            Obtener tabla de encuentros
          </button>
        </form>
        {% if soluciones %}
        {% from "tabla.html" import tabla %}
        <hr>
        {% if form.data.sistema == 'eliminacion' %}
          {% for fecha in soluciones %}
            <h3>Fecha {{ loop.index }}</h3>
            {{ tabla(form.data.sistema, fecha) }}
          {% endfor %}
        {% else %}
          {{ tabla(form.data.sistema, soluciones) }}
        {% endif %}
        {% endif %}
      </div>
    </div>
    <!-- ayuda -->
    <div id="ayuda" class="ui fullscreen modal">
      <i class="close icon"></i>
      <div class="ui centered header">
        <h1>Torneos Deportivos</h1>
      </div>
      <div class="content">
        <div class="description">
          <div class="ui header"><h2>Ayuda</h2></div>
          <p>
          Este manual pretende transmitir los conceptos y la estructura de la aplicación
          de Torneos Deportivos para que cualquier usuario pueda sacar el máximo partido de ella.
          </p>

          <div class="ui header"><h3>1. Introducción</h3></div>
          <p>
          A grandes rasgos, hay dos perfiles de audiencia claramente definidos a los que va dirigido este manual: el primero, integrado en su totalidad por jóvenes, compuesto tanto por los estudiantes de la Facultad de Educación Física actuales como futuros, y el segundo, formado por los usuarios con escasos conocimientos en organización de campeonatos y torneos deportivos, que sólo tengan interés en obtener el diagrama del campeonato con los recursos que poseen.
          Por lo general, la mayor parte de los usuarios, tienen escasos conocimientos de las técnicas y métodos, referentes a los Sistemas de Competencia que se utilizan en la actualidad, aunque sí un nivel considerable de experiencias en la navegación.
          </p>
          <p>Este manual pretende transmitir los conceptos y la estructura de ésta nueva aplicación web para que cualquier usuario pueda sacar el máximo partido de ella.</p>

          <div class="ui header"><h3>2. Objetivos de éste sitio web</h3></div>
          <p>El objetivo fundamental del portal es utilizar la aplicación obteniendo los resultados necesarios para llevar a cabo un torneo competencia basándose en la teoría deportiva. Se trata de construir un sitio web usable, de contenidos organizados y correctamente definidos cuya estructura sea fácil de manejar por cualquier tipo de usuario.</p>

          <div class="ui header"><h3>3. Estructura conceptual de la web</h3></div>
          <p>
            La organización de contenidos se ha basado en respetar al máximo la claridad visual y la simplicidad de uso, sin menospreciar contenido alguno, aumentando con ello la usabilidad global del sitio. 
            Existe un solo nivel de navegación que cumple con la función de menú principal homogénea en todas las vistas y es inamovible. Ésta recoge los datos ingresados en los cuadros de texto que serán solicitados en el caso de que algún campo no sea completado, para poder aplicar el modelo de Eliminación Simple o Todos Contra Todos según se desee.
          </p>

          <div class="ui header"><h3>4. Menú Principal</h3></div>
          <img class="ui big centered rounded image" src="https://i.imgur.com/4Jx5K8i.png" alt="Figura 1" />
          <h4>Paso 1 y 2:</h4>
          <p>En los campos “Desde” y “Hasta” se seleccionarán los días de duración del Torneo Deportivo que se desea generar. Estos campos son obligatorios.</p>
          <img class="ui big centered rounded image" src="http://i.imgur.com/aZzBAyD.png" alt="Figura 1" />

          <h4>Paso 1:</h4>
          <p>En el campo “Los encuentros se llevarán a cabo en: ” se podrá poner en el lugar donde se desarrollará el encuentro, a modo informativo.</p>
          <h4>Paso 2:</h4>
          <p>“Cantidad de equipos participantes” Cantidad numérica de todos los equipos que participan del encuentro. Este campo es obligatorio.</p>
          <h4>Paso 3:</h4>
          <p>“Cantidad de canchas disponibles” Podrán cargarse la cantidad de canchas con las que se cuenta en la instalación pudiendo ser canchas que estén o no dentro del mismo complejo.</p>
          <h4>Paso 4:</h4>
          <p>Seleccionar el sistema que se desea aplicar.</p>
          <h4>Paso 5:</h4>
          <p>Seleccionar de la lista desplegable los minutos de duración de cada partido, según el tipo de deporte se decidió utilizar como alternativas “40 minutos”, “90 minutos” y “120 minutos”.</p>

          <img class="ui big centered rounded image" src="http://i.imgur.com/Kydzg2W.png" alt="Figura 1" />
          <p>Al presionar el botón “Obtener tabla de encuentros” aparecerán en la pantalla las distintas fechas de enfrentamientos y dentro de ella las rondas que se jugarán en el orden, turno, cancha y que equipo deberá ser Local y Visitante. Esta tabla refleja el Fixture real que se deberá respetar para así llegar hasta la final.</p>
        </div>
      </div>
      <div class="actions">
        <div class="ui black button">
          Cerrar
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://raw.githubusercontent.com/jquery/jquery-ui/1.11.3/ui/i18n/datepicker-es.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.9.0/semantic.js"></script>
    <script>
      $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
      var hoy = new Date();
      var mañana = new Date(hoy.getTime() + 24 * 60 * 60 * 1000);
      $('.datepicker input#desde').datepicker({minDate: hoy});
      $('.datepicker input#hasta').datepicker({minDate: mañana});
      $('select.dropdown').dropdown();
      $('#boton-ayuda').on('click', function() {
        $('#ayuda').modal('show');
      });
    </script>
  </body>
</html>
